.container div {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-color: chocolate;
}
.container{
    background-size: cover;
    width: 200px;
    height: 600px;
    align-items: center;
    background-color: grey;
    display: flex;
    animation: rotation_divs 5s infinite;
}
/*.container:before{*/
/*    !*flex-direction: column;*!*/
/*    !*flex-direction:  column-reverse;*!*/
/*}*/

/*.container:after{*/
/*}*/



@keyframes rotation_divs {
    0%{
        right: 1000px;
    }
    100%{
        right: 0;
    }
}