.container div {
    height: 200px;
    width: 900px;
    margin: 10px;
    background-color: chocolate;
}
.container{
    background-size: cover;
    width: 900px;
    height: 600px;
    background-color: grey;
    display: flex;
    /*animation: rotation_divs 5s infinite;*/
}
/*.container:before{*/
/*    !*flex-direction: column;*!*/
/*    !*flex-direction:  column-reverse;*!*/
/*}*/

/*.container:after{*/
/*}*/
